<!doctype html>

<html lang="en">
	<head>
		<title>Webinar-tool RealTimeWeb.co</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable = no">
		<meta name="format-detection" content="telephone=no">
	</head>

	<body>
		Greetings from your future webinar-tool
	</body>

</html>