.data-line {
	stroke: #3c5868;
	stroke-width: 2;
	fill: none;
	stroke-dasharray: 0;
}

path {
	/*stroke: #13a897;*/
	stroke-width: 2;
	stroke-dasharray: 0;
	fill: none;
}

.area {
  	fill: #3c5868;
}

.area.awesome {
  	fill: #31b99d;
}

text {
	font-family: Arial;
	font-size: 8pt;
	fill: #787878;
}

line {
	stroke: #CDCDCD;
	stroke-width: 0;
	/* stroke-dasharray: 3 3; */
	fill: none;
}

.data-point {
	stroke: #3c5868;
	stroke-width: 2;
	fill: #13a897;
}


.data-point.Horrible { fill: #ff4820;}
.data-point.Bad { fill: #c86e41;}
.data-point.Good { fill: #948b64;}
.data-point.Great { fill: #62a686;}
.data-point.Awesome { fill: #13a897;}

#chart {
        margin: 0;
}
